@using System.Configuration

@{
    ViewBag.Title = "Home Page";

    @Scripts.Render("~/bundles/apiClient")

    string authorizationKey = ConfigurationManager.AppSettings["AuthorizationKey"];
    string apiBaseUrl = ConfigurationManager.AppSettings["ApiBaseUrl"];
}

<div>
    <div class="container">
        <div class="row">
            <div class="jumbotron col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Category</h2>
                        <div id="categoryDropDown">
                            @{ Html.RenderPartial("ProductCategoryDropDown"); }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Sub Category</h2>
                        <div id="subCategoryDropDown">
                            @{ Html.RenderPartial("ProductSubCategoryDropDown"); }
                        </div>
                    </div>
                    <div>
                        @Html.ActionLink("Add new Product", "CreateProduct", new { controller = "Home" }, new { @class = "btn btn-info" })
                    </div>
                </div>
                <hr />
                <div id="productList" class="row">
                    @{ Html.RenderPartial("ProductList"); }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        loadCategories('@apiBaseUrl', '@authorizationKey', '@Url.Action("LoadCategories", "Home")');

        $("#categories-dropdown").change(function () {
            // Clear the product list
            $("#tableProductList").empty();

            var categoryId = $(this).find(':selected').val();
            if (!categoryId) {
                // Clear the sub categories
                $("#subCategories-dropdown").empty();
                $("#subCategories-dropdown").append("<option>--- Choose a Sub Category ---</option>");
            } else
                loadSubCategories('@apiBaseUrl', '@authorizationKey', '@Url.Action("LoadSubCategories", "Home")', null, categoryId);
        });

        $("#subCategories-dropdown").change(function() {
            var subCategoryId = $(this).find(':selected').val();
            if (!subCategoryId) {
                // Clear the product list
                $("#tableProductList").empty();
            } else {
                loadProductList('@apiBaseUrl', '@authorizationKey', '@Url.Action("LoadProductList", "Home")', subCategoryId);
            }
        });
    });
</script>